@media (max-width: 1000px){
	main{
		width: 100%;
	}
}

@media (max-width: 770px){
	header{
		height: auto;
		flex-direction: column;
	}

	header nav{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.5rem;
	}

	.about_main{
		grid-template-columns: 1fr;
	}

	footer{
		grid-template-columns: 1fr;
	}

	.container{
		padding: 3rem 1rem;
		gap: 0.5rem;
	}
}

@media (max-width: 579px){
	header nav{
		grid-template-columns: 1fr 1fr;
	}

	.about_main{
		padding: 3rem 1rem;
	}

	.about_text #thisisme,
	.about_text h1{
		text-align: center;
	}

	.about_text #introhero{
		text-align: justify;
	}

	.container{
		grid-template-columns: 1fr;
	}
}